.chat-wrapper {
    max-height: 55vh;
}
.chat-message {
    max-height: calc(45vh - 1.5em - 0.75rem - 2px - 1.25rem);
}

.chat-sender-name {
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 0.15rem;
}
