.row {
    padding-top: 20px;
}

.local-video {
    width: 100%;
    height: 600px;
    border: 1px solid grey;
    position: relative;
}

.meeting-controls {
    position: absolute;
    z-index: 4;
    left: 35%;
    bottom: 5%;
    display: flex;
}

svg {
    width: 2rem;
}

.ch-icon {
    height: 2rem !important;
    width: 2rem !important;
}



